%html
  %body

    %h1 This is: haml_test.haml.

    %p
      %h3 Not much to see here
      Just testing render of a haml file.
      %a{:href => 'http://www.github.com/swerling/synfeld'} synfeld on github

