%html
  %body

    %ul
      %li 
        %a{:href => 'http://www.github.com/swerling/synfeld'} synfeld on github
      %li 
        %a{:href => '/haml_test'} test a haml file
      %li 
        %a{:href => '/html_test'} test an html file
      %li 
        %a{:href => '/my/special/route'} test of non-static action ('my_special_route')

