%html
  %body

    %h1 This is: haml_test.haml.
    %p
      Random number is 
      %i= ran100.to_s 
    %p
      Time is
      %span=time.to_s 

    %p
      %h3 Test render of haml file
      %a{:href => 'http://www.github.com/swerling/synfeld'} synfeld on github

