%html
  %body

    %ul
      %li 
        %a{:href => 'http://www.github.com/swerling/synfeld'} synfeld on github
      %li 
        %a{:href => '/haml_test'} test a haml file
      %li 
        %a{:href => '/erb_test'} test an erb file
      %li 
        %a{:href => '/html_test'} test an html file
      %li 
        %a{:href => '/my/special/route'} test of non-static action
      %li 
        %a{:href => '/alphabet.json'} alphabet as json
      %li 
        %a{:href => '/alphabet.html'} alphabet as html

